# Payment Service Configuration

# Server
PORT=8002
ENVIRONMENT=development

# Database (Separate database for payment service)
DATABASE_URL=postgresql://ybb_user:ybb_pass@postgres:5432/ybb_payments_db

# RabbitMQ (for event publishing)
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
RABBITMQ_EXCHANGE=payment-events

# Midtrans Configuration
MIDTRANS_SERVER_KEY=your-server-key
MIDTRANS_CLIENT_KEY=your-client-key
MIDTRANS_IS_PRODUCTION=false

XENDIT_SECRET_KEY=xnd_development_YT3XLFI6gO8YdBnGn6HkhlK9up5ULjjK3ngNDbPOLLgcY4mCoysCLMbrk47w
# Future: Add other payment gateways here
# STRIPE_SECRET_KEY=
# PAYPAL_CLIENT_ID=
