NODE_ENV=development
PORT=4003
DATABASE_USER=ybb_api_user
DATABASE_PASSWORD=change_me
DATABASE_NAME=ybb_platform_db
# Optional override, defaults to ybb-postgres-api in docker-compose.yml
# DATABASE_HOST=ybb-postgres-api
