# Monitoring Environment
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin

# Grafana Datasources (Database Connection)
# These should match the API/Payment service DB credentials
DB_HOST_API=host.docker.internal
DB_PORT_API=5438
DB_NAME_API=ybb_platform

DB_HOST_PAYMENT=host.docker.internal
DB_PORT_PAYMENT=5433

DB_USER=ybb_user
DB_PASSWORD=ybb_password

